{% comment %}
Este espacio está destinado para JavaScript de terceros personalizado.
{% endcomment %}

<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],  // Permite $...$ y \(...\) para matemáticas en línea
      displayMath: [['$$', '$$'], ['\\[', '\\]']],  // Permite $$...$$ y \[...\] para ecuaciones en bloque
      tags: 'none'  // Desactiva la numeración automática de ecuaciones
    },
    svg: {
      fontCache: 'global'  // Optimiza el rendimiento al reutilizar fuentes matemáticas
    }
  };
</script>

<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
